<div class="sf__accordion-content rte hide--mobile">
    <div class="pb-5 md:pb-0">
        <p class="mt-0 md:mt-4 block-text">
            {{ block.settings.description }}
        </p>
        <div class="block-text mt-4">
          {% if section.settings.show_social_links %}
            {% render 'social-media-links', box_size: 'justify-center md:justify-end ml-3 mb-6 lg:mb-0' %}
          {% endif %}
          {% if section.settings.show_payment_icons %}
            {% render 'payment-icons', section: section %}
          {% endif %}
          {% if section.settings.copyright != blank %}
            <div class="sf-footer__center flex-1 text-center mb-6 lg:mb-0 lg:order-none lg:w-auto w-full copyright-text">
              <span class="text-sm">{{ section.settings.copyright }}</span>
            </div>
          {% endif %}
        </div>
    </div>
</div>
