{%- if settings.show_cart_button -%}
  <div class="sf__pcard-quick-add">
    {%- if product.has_only_default_variant -%}
      {% assign btn_class = 'sf__btn-secondary sf__btn-white' %}
      {% if btn_type == 'primary' %}
        {% assign btn_class = 'sf__btn-primary' %}
      {% endif %}
      {% render 'product-atc', product: product, btn_text: quick_add_text, class: btn_class %}
    {% else %}
      {% if settings.select_option_button_action == 'popup' %}
        <button class="sf-pqv__button sf__btn {% if btn_type == 'primary' %}sf__btn-primary{% else %} sf__btn-secondary sf__btn-white{% endif %} flex-grow" data-product-handle="{{ product.handle }}">
          <span>{{ quick_add_text }}</span>
        </button>
      {% else %}
        <a class="sf__btn {% if btn_type == 'primary' %}sf__btn-primary {% else %}sf__btn-secondary sf__btn-white{% endif %} flex-grow" href="{{ product.url }}">
          <span>{{ quick_add_text }}</span>
        </a>
      {% endif %}
    {% endif %}
  </div>
{%- endif -%}
