{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}
{%- capture html_classes -%}
no-js supports-no-cookies {%- if request.path == '/challenge' -%}grow-full{%- endif -%}
{%- endcapture -%}

<!doctype html>
<html
  class="{{- html_classes -}}"
  lang="{{ request.locale.iso_code }}" 
  style="--sf-page-opacity: 0;"
  data-template="{{ template.name }}"
>
<head> 
    <script src='{{ 'product_restore_email.js' | asset_url }}' defer='defer' ></script> 
    <script id='em_product_variants' type='application/json'>
        {{ product.variants | json }}
    </script>
    <script id='em_product_selected_or_first_available_variant' type='application/json'>
        {{ product.selected_or_first_available_variant | json }}
    </script>
    <script id='em_product_metafields' type='application/json'>
        {{ shop.metafields.email-sealapps-app.effective-time | json }}
    </script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  {% render 'preload' %}
  {% render 'SEO' %}
  {% render 'social-meta-tags' %}
  {% render 'font-face' %}
  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}

  {% comment %} {% render 'content_for_header' %} {% endcomment %}
  {{ content_for_header }}
  {% render 'judgeme_core' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
</head>

<body
  id="sf-theme" style="opacity: 0;"
  class="{{ body_classes }} relative min-h-screen template-{{ template.name }}"
  {% if template.name == 'product' %}data-product-id="{{ product.id }}"{% endif %}
>
  {% render 'theme-data' %}
  {% section 'annoucement' %}
  {% section 'header' %}

  <main role="main" id="MainContent">
    {% render 'scroll-top-button' %}
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
  {% section 'mobile-sticky-bar' %}

  {% render 'custom-code-body' %}
  {% render 'foxkit-messenger' %}
  {% render 'script-tags' %}
  
  <script>
    $(document).ready(function(){
    $('.exceeding_icon').slick({
      dots: false,
      infinite: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: true,
            dots: false
          }
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
      });
  </script>

{% include 'swymSnippet' %}

</body>
</html>
