<div class="about-blocks container-fluid section-py">
  <div class="about_blocks_row grid">
    {% for block in section.blocks %}
    	<div class="about_blocks_coll grid__item medium-up--one-half">
          {% if block.settings.image != black %}
        	<img src="{{ block.settings.image | img_url: 'master' }}">
          {% endif %}
          {% if block.settings.title != black %}
          	<h4>{{ block.settings.title }}</h4>
          {% endif %}
          {% if block.settings.text != black %}
          	<p>{{ block.settings.text }}</p>
          {% endif %}
    	</div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "About Blocks",
    "settings": [

				],
				"blocks": [
							{
								"type": "about-blocks",
								"name": "About Blocks",
								"settings": [
												{
													"type": "image_picker",
													"id": "image",
													"label": "IMage"
												},
												{
													"type": "text",
													"id": "title",
													"label": "Title"
												},
												{
													"type": "text",
													"id": "text",
													"label": "Text"
												}
											]
							}
						  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
