
<div class="section_container" style="background: {{ section.settings.bgcolor }}">
  <div class="container-fluid text-center text-center">
    {% if section.settings.title != blank %}
        <h3 class="content__heading rte text-2xl md:text-5xl lg:text-5xl  mb-4 lg:mb-6">{{ section.settings.title }}</h3>
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="icon">
            <svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180)" fill="currentColor"></path></svg>
          </li>
          <li>{{ section.settings.page_name | default: page.title }}</li>
        </ul>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Banner with breadcrumb",
  "class": "banner-with-breadcrumb",
  "settings": [
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "page_name",
      "label": "Page name"
    }
  ],
  "presets": [
    {
      "name": "Banner with breadcrumb"
    }
  ]
}
{% endschema %}