<div class="section_container">
  <div class="main_content container-fluid">
  	
    {% if section.blocks.size > 0 %}
      <div class="blog-header">
        {% for block in section.blocks %}
          {% if block.settings.blog != blank %}
            {% assign _blog = blogs[block.settings.blog] %}
            <a data-handle="{{ _blog.handle }}" class="blog-header-item{% if blog.handle == _blog.handle %} h3{% endif %}" href="{{ _blog.url }}">{{ block.settings.blog_title | default: _blog.title }}</a>
          {% endif %}
        {% endfor %}
      </div>	
    
      <div class="blog-content-wrapper">
        <div class="grid">
          {% for article in blog.articles %}
          	{% render 'article-card', article: article %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    
  </div>
</div>

{% schema %}
  {
    "name": "Blog",
	"class": "blog-grid",
    "settings": [],
	"blocks": [
	  {
		"type": "blog",
		"name": "Blog",
		"settings": [
		  {
			"type": "text",
			"id": "blog_title",
			"label": "Title"
		  },
		  {
			"type": "blog",
			"id": "blog",
			"label": "Blog"
		  }
		]
	  }
	]
  }
{% endschema %}