{% assign st = section.settings %}
{% assign bg_color = section.settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ section.settings.container }}
    {% if has_bg == false %} section-my {% else %} section-py {% endif %}
{% endcapture %}

{% if st.use_scroll_mobile %}
  {% assign scrollbar = 'sf__ms' %}
  {% assign scrollbar_wrapper = ' sf__ms-wrapper' %}
{% endif %}

<section
    style="background-color: {{ bg_color }};"
    class="sf__img-with-text {{ section.settings.custom_class }} {% unless st.use_scroll_mobile %} px-4{% endunless %}"
    {% if has_bg %}
    data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    id="sf__img-with-text-{{ section.id }}"
>
  <div class="{{ container }}" style="--mobile-column-width: 66vw; --column-gap: {{ section.settings.gap }}px; --row-gap: {{ section.settings.gap }}px; --column-gap-mobile: {{ section.settings.mobile_gap }}px">
    {% render 'index-section-header', section_settings: section.settings %}
    {% if st.use_scroll_mobile %}
    <div class="{{ scrollbar }}">
    {% endif %}
      {% assign grid_cols = '' %}
      {% assign grid_rows = '' %}
      {% case st.layout %}
        {% when 'layout_1' %}
          {% assign grid_cols = 'lg:grid-cols-4' %}
        {% when 'layout_2' %}
          {% assign grid_cols = 'lg:grid-cols-3' %}
        {% when 'layout_3' %}
          {% assign grid_cols = 'lg:grid-cols-4' %}
          {% assign grid_rows = 'grid-rows-3' %}
        {% when 'layout_4' %}
          {% assign grid_cols = 'lg:grid-cols-4' %}
          {% assign grid_rows = 'grid-rows-2' %}
        {% when 'layout_5' %}
          {% assign grid_cols = 'lg:grid-cols-4' %}
          {% assign grid_rows = 'grid-rows-2' %}
      {% endcase %}
      <div class="sf-grid grid-{{ section.id }} grid{{ scrollbar_wrapper }} {{ grid_cols }} {{ grid_rows }} sm:grid-cols-2 grid-cols-1">
        {% for block in section.blocks %}
          {% comment %} Setup layout {% endcomment %}
          {% assign grid__columns = 'sf-column ' %}
          {% case st.layout %}
            {% when 'layout_1' %}
              {% if forloop.first %}
                {% assign grid__columns = grid__columns | append: 'sm:col-span-2 sm:row-span-2' %}
              {% endif %}
            {% when 'layout_2' %}
              {% if forloop.index == 2 %}
                {% assign grid__columns = grid__columns | append: 'sm:row-span-2' %}
              {% endif %}
            {% when 'layout_3' %}
              {% if forloop.first %}
                {% assign grid__columns = grid__columns | append: 'lg:col-span-2 lg:row-end-3 lg:row-start-1' %}
              {% elsif forloop.index == 4 %}
                {% assign grid__columns = grid__columns | append: 'lg:col-span-2 lg:row-start-2 lg:row-end-4'%}
              {% elsif forloop.index == 5 %}
                {% assign grid__columns = grid__columns | append: 'sm:col-span-2'%}
              {% endif %}
            {% when 'layout_4' %}
              {% if forloop.first %}
                {% assign grid__columns = grid__columns | append: 'lg:col-span-2 lg:row-end-3 lg:row-start-1' %}
              {% elsif forloop.index == 2 or forloop.index == 3 %}
                {% assign grid__columns = grid__columns | append: 'lg:col-span-2'%}

              {% elsif forloop.index == 4 or forloop.index == 5 %}
                {% assign grid__columns = grid__columns | append: 'lg:col-span-2 lg:row-start-3 lg:row-end-4'%}
              {% endif %}
            {% when 'layout_5' %}
              {% if forloop.first %}
                {% assign grid__columns = grid__columns | append: 'lg:col-span-2 lg:row-end-3 lg:row-start-1' %}
              {% elsif forloop.index == 4 %}
                {% assign grid__columns = grid__columns | append: 'lg:col-span-2 lg:row-start-2 lg:row-end-3'%}
              {% elsif forloop.index == 5 %}
                {% assign grid__columns = grid__columns | append: 'sm:col-span-5'%}
              {% endif %}
            {% endcase %}

          {% comment %} Content {% endcomment %}
            {% assign pb = 'pb-0' %}
            {% unless st.use_scroll_mobile %}
                {% assign pb = 'pb-6' %}
            {% endunless %}
            {% include 'image-card', block: block, grid_columns: grid__columns, padding_bot: pb, stack_on_mobile: true, image_card_class: 'sf__hover-scale-up' %}
        {% endfor %}
      </div>
    {% if st.use_scroll_mobile %}
    </div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Image cards",
    "class": "section-image-card",
    "max_blocks": 5,
    "settings": [
    {
      "type": "header",
      "content": "Section header"
      },
      {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Featured collection"
      },
      {
          "type": "html",
          "id": "subheading",
          "label": "Subheading"
      },
      {
          "type": "textarea",
          "id": "description",
          "label": "Description"
      },
      {
          "type": "select",
          "id": "header_alignment",
          "label": "Text alignment",
          "default": "center",
          "options": [
              {
                  "value": "left",
                  "label": "Left"
              },
              {
                  "value": "center",
                  "label": "Center"
              }
          ]
      },
      {
          "type": "header",
          "content": "General"
      },
      {
          "type": "select",
          "id": "container",
          "label": "Container type",
          "default": "container-fluid",
          "options": [
              {
                  "value": "container-fluid",
                  "label": "Default"
              },
              {
                  "value": "w-full",
                  "label": "Full width"
              },
              {
                  "value": "container",
                  "label": "Use container box"
              }
          ]
      },
      {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default": "rgba(0,0,0,0)"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "layout_1",
            "label": "Grid layout 1"
          },
          {
            "value": "layout_2",
            "label": "Grid layout 2"
          },
          {
            "value": "layout_3",
            "label": "Grid layout 3"
          },
          {
            "value": "layout_4",
            "label": "Grid layout 4"
          },
          {
            "value": "layout_5",
            "label": "Grid layout 5"
          }
        ]
      },
      {
        "type": "range",
        "id": "gap",
        "label": "Item gap",
        "default": 30,
        "min": 0,
        "max": 50,
        "step": 5,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "checkbox",
        "id": "use_scroll_mobile",
        "label": "Enable horizontal scroll",
        "default": true
      },
      {
        "type": "range",
        "id": "mobile_gap",
        "label": "Item gap",
        "default": 10,
        "min": 0,
        "max": 30,
        "step": 2,
        "unit": "px"
      },
      {
          "type": "text",
          "id": "custom_class",
          "label": "Custom classes"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Banner",
        "settings": [
          {
            "type": "select",
            "id": "content_position",
            "label": "Content position",
            "options": [
            {
                "value": "top_left",
                "label": "Top left"
            },
            {
                "value": "top_center",
                "label": "Top center"
            },
            {
                "value": "top_right",
                "label": "Top right"
            },
            {
                "value": "center_left",
                "label": "Middle left"
            },
            {
                "value": "center_center",
                "label": "Middle center"
            },
            {
                "value": "center_right",
                "label": "Middle right"
            },
            {
                "value": "bottom_left",
                "label": "Bottom left"
            },
            {
                "value": "bottom_center",
                "label": "Bottom center"
            },
            {
                "value": "bottom_right",
                "label": "Bottom right"
            }
            ],
            "default": "bottom_center"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
            "type": "select",
            "id": "text_size",
            "label": "Text size",
            "options": [
            {
                "value": "medium",
                "label": "Medium"
            },
            {
                "value": "large",
                "label": "Large"
            }
            ],
            "default": "medium"
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text color",
            "options": [
                {
                  "value": "none",
                  "label": "None" 
                },
                {
                    "value": "white",
                    "label": "Light"
                },
                {
                    "value": "black",
                    "label": "Dark"
                }
            ],
            "default": "none"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Image link"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          }
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Sub heading"
        },
        {
            "type": "header",
            "content": "Button settings"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Shop now"
        },
        {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "options": [
            {
                "value": "sf__btn-primary",
                "label": "Primary button"
            },
            {
                "value": "sf__btn-secondary",
                "label": "Secondary button"
            },
            {
                "value": "sf__btn-white",
                "label": "White button"
            },
            {
                "value": "sf__btn-link",
                "label": "Underline button"
            }
            ],
            "default": "sf__btn-primary"
        },
        {
            "type": "select",
            "id": "button_size",
            "label": "Button size",
            "options": [
            {
                "value": "sf__btn-small",
                "label": "Button small"
            },
            {
                "value": "",
                "label": "Button medium"
            },
            {
                "value": "sf__btn-large",
                "label": "Button large"
            }
            ],
            "default": ""
        },
        {
          "type": "header",
          "content": "Mobile text"
        },
        {
          "type": "text",
          "id": "mob_text",
          "label": "Mobile text",
          "default": "Mobile text"
        }
      ]
      }
    ],
    "presets": [
      {
        "name": "Image cards",
        "category": "Image",
        "blocks": [
          {"type": "item"},
          {"type": "item"},
          {"type": "item"},
          {"type": "item"},
          {"type": "item"}
        ]
      }
    ]
  }
{% endschema %}
