{%- assign st = section.settings -%}
{%- assign show_filter = st.show_filter -%}
{%- assign paginate_type = 'paginate' -%}
{%- assign grid_columns = st.grid_columns -%}
{%- assign grid_layout = st.grid_layout -%}
{%- assign grid_columns_view = '' -%}
{%- assign grid_cols = '' -%}

{%- case grid_columns -%}
    {%- when '5' -%}
        {%- assign grid_columns_view = '5' -%}
        {%- assign grid_cols = 'five' -%}
    {%- when '4' -%}
        {%- assign grid_columns_view = '4' -%}
        {%- assign grid_cols = 'four' -%}
    {%- when '3' -%}
        {%- assign grid_columns_view = '3' -%}
        {%- assign grid_cols = 'three' -%}
    {%- else -%}
        {%- assign grid_columns_view = '2' -%}
        {%- assign grid_cols = 'two' -%}
{%- endcase -%}

{% assign filters_type = section.settings.filters_type %}
{%- assign paginate_type = section.settings.paginate_type -%}


<section data-section-type="collection-template" data-section-id={{ section.id }} data-filters-type="{{ section.settings.filters_type }}" data-show-filter="{{ show_filter }}" data-section-container>
  <div class="{{ st.container }}{% if st.container == 'w-full' %} px-4 xl:px-[30px]{% endif %}">
    <div class="sf__collection-container flex mt-2.5 lg:mb-15 lg:pt-7 mb-7 {% if show_filter %} sidebar__{{st.sidebar}}{% endif %}">

      {% render 'collection-sidebar', section: section %}

        <div id="CollectionProductGrid" class="relative {% if st.sidebar == 'fixed' or show_filter == false %}w-full{% else%}w-full xl:w-3/4 2xl:w-4/5{% endif %}">
          {% if collection.products.length > 0 %}
            {% render 'collection-page-toolbar',
              section: section,
              show_filter: show_filter,
              grid_layout: grid_layout, grid_columns_view: grid_columns_view
            %}
          {% endif %}
          <div data-section-inner>
            {% if section.settings.show_filter %}
              <div id="sf-filter-by" class="flex flex-wrap items-center">
                {% if filters_type == 'storefront_filters' %}
                  {% render 'collection-filters-facets' %}
                {% else %}
                  {% render 'selected-tags-filter' %}
                {% endif %}
              </div>
            {%- endif -%}
            {%- paginate collection.products by section.settings.pagination_limit -%}
              {%- if collection.products.size == 0 -%}
                <div class="sf-collection-empty collection collection--empty py-24 flex flex-col w-full items-center" id="main-collection-product-grid" data-id="{{ section.id }}">
                  <span>{% render 'icon', name: 'empty-collection', fill: '#9a9a9a' %}</span>
                  <p class="mt-5 text-color-subtext">{{ 'collections.general.no_matches' | t }}</p>
                </div>
              {%- else -%}
                <div class="collection">
                  <div id="main-collection-product-grid" data-infinite-load="{% if paginate_type == 'infinite' %}true{% else %}false{% endif %}" data-url="{{ request.path }}" data-total-pages="{{ paginate.pages }}" data-id="{{ section.id }}" >
                    <div class="sf__product-listing {% if grid_layout == 'list' %} sf__col-one only-row{% else %} sf__col-{{grid_cols}}{% endif %} relative" data-width-item="{{grid_columns_view}}">
                      <div class="sf__collection-wrapper" data-product-list>
                        <div class="flex flex-wrap -mx-2 xl:-mx-3 sf-collection-items">
                          {%- for product in collection.products -%}
                            <div class="sf__col-item w-6/12 md:w-4/12 px-2 xl:px-3">
                              {% render 'product-card', product: product, btn_type: section.settings.btn_type %}
                            </div>
                          {%- endfor -%}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% if paginate.pages > 1 %}
                    <div class="sf__collection-paginate text-center mt-10">
                      {% if paginate_type == 'infinite' or paginate_type == 'loadmore' %}
                        {% capture loadmore_text %}{{ 'collections.paginate.load_more' | t }}{% endcapture %}
                        {% if loadmore_text contains 'translation missing' %}
                          {% capture loadmore_text %}Load more{% endcapture %}
                        {% endif %}
                        <button class="sf__btn sf__btn-primary" data-load-more>
                          <span>{{ loadmore_text }}</span>
                        </button>
                      {% else %}
                        {% render 'pagination', paginate: paginate, anchor: '' %}
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {%- endif -%}
            {%- endpaginate -%}
          </div>
        </div>
      </div>
    </div>

    {% if section.settings.show_sorting %}
      {% render 'sort-by-mobile' %}
    {% endif %}
  </section>

{% schema %}
  {
    "name": "Product listing",
    "settings": [
      {
        "type": "header",
        "content": "General"
      },
      {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
      },
      {
        "type": "header",
        "content": "layout"
      },
      {
        "type": "radio",
        "id": "grid_layout",
        "label": "Default layout",
        "options": [
          {
            "label": "Grid",
            "value": "grid"
          },
          {
            "label": "List",
            "value": "list"
          }
        ],
        "default": "grid"
      },
      {
        "type": "select",
        "id": "grid_columns",
        "label": "Products per row",
        "info": "For \"Grid\" layout and device width > 1024px",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ],
        "default": "3"
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "label": "Products per page",
        "default": 12,
        "min": 6,
        "max": 24,
        "step": 1
      },
      {
        "type": "checkbox",
        "id": "show_columns_switcher",
        "label": "Show columns switcher",
        "default": true
      },
      {
        "type": "select",
        "id": "btn_type",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          }
        ],
        "default": "secondary",
        "label": "Button type"
      },
      {
        "type": "header",
        "content": "Sorting and Filtering"
      },
      {
        "type": "checkbox",
        "id": "show_sorting",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_filter",
        "label": "Enable filtering",
        "default": false
      },
      {
        "type": "select",
        "id": "filters_type",
        "label": "Filters type",
        "options": [
          {
            "label": "Filters by Shopify",
            "value": "storefront_filters"
          },
          {
            "label": "Filters by custom tags",
            "value": "tags_filter"
          }
        ],
        "default": "storefront_filters",
        "info": "Customize [filters by Shopify](\/admin\/menus)"
      },
      {
        "type": "select",
        "id": "sidebar",
        "label": "Filters position",
        "options": [
          {
            "value": "leftColumn",
            "label": "Left sidebar"
          },
          {
            "value": "rightColumn",
            "label": "Right sidebar"
          },
          {
            "value": "fixed",
            "label": "Off-canvas sidebar"
          }
        ],
        "default": "leftColumn"
      },
      {
        "type": "text",
        "id": "sidebar_title",
        "label": "Filters title",
        "default": "Filters",
        "info": "Leave blank to hide"
      },
      {
        "type": "checkbox",
        "id": "limit_height_widget",
        "label": "Limit filter widget's height",
        "default": false
      },
      {
        "type": "header",
        "content": "Paginate"
      },
      {
        "type": "select",
        "id": "paginate_type",
        "label": "Paginate type",
        "default": "paginate",
        "options": [
          {
            "value": "paginate",
            "label": "Paging by number"
          },
          {
            "value": "loadmore",
            "label": "Load more button"
          },
          {
            "value": "infinite",
            "label": "Infinite scroll"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "filter",
        "name": "Filter by tags",
        "settings": [
          {
            "type": "paragraph",
            "content": "[Filter values correspond to the value \"Tags\" in the product.](https:\/\/docs.shopify.com\/manual\/your-store\/products\/edit-tags)"
          },
          {
            "type": "select",
            "id": "design_filtergroup",
            "label": "Design",
            "options": [
              {
                "value": "default",
                "label": "List"
              },
              {
                "value": "inrow",
                "label": "Inline link"
              },
              {
                "value": "button",
                "label": "Button"
              },
              {
                "value": "color",
                "label": "Color"
              }
            ],
            "default": "default"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Tags"
          },
          {
            "type": "textarea",
            "id": "filtergroup",
            "label": "Tags List",
            "default": "Vintage,tops,shirts",
            "info": "Example: Vintage,tops,shirts..."
          },
          {
            "type": "checkbox",
            "id": "use_accordion",
            "label": "Enable collapsible",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "open_filtergroup",
            "label": "Expand by default",
            "default": true
          },
          {
            "type": "paragraph",
            "content": "Note: if the tag contains no products, it will not appear."
          }
        ]
      },
      {
        "type": "collections",
        "name": "Collections list",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Collections"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "info": "Only show items linked to a collection"
          },
          {
            "type": "checkbox",
            "id": "use_accordion",
            "label": "Enable collapsible",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "open_filtergroup",
            "label": "Expand by default",
            "default": true
          }
        ]
      }
    ]
  }
{% endschema %}
