{% assign bg_color = section.settings.bg_color %}

<section
    class="sf-product__section sf-product__section-tabs"
    data-section-type="tabs" data-section-id="{{ section.id }}"
    style="background-color: {{ bg_color }}"
>
  <div class="{{ section.settings.container }}">
    <div class="sf-tabs sf-tabs--responsive sf-pdt__accordion">
      <div class="hide--desktop">
        <div class="accordion-wrapper">
		 {% for _title in product.metafields.info.title %}
            <div class="accordion-item {% if forloop.first %}open{% endif %}">
              <div class="accordion-title">
              	{{ _title }}
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none"><path d="M9 6L15 12L9 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </span>
              </div>
              <div class="accordion-content" {% unless forloop.first %}style="display:none"{% endunless %}>
                {{ product.metafields.info.content[forloop.index0] }}
              </div>
            </div>
         {% endfor %}
        </div>
      </div>	
      <div class="hidden md:flex border-b border-color-border justify-center hide--mobile">
       	
        {% assign idx = 0 %}
       
        {% comment %}
        {% if product.description != blank %}
          <div class="sf-tab-header text-lg cursor-pointer" data-index="0" {{ block.shopify_attributes }}>
            Description
          </div>
          {% assign idx = 1 %}
        {% endif %}
        {% endcomment %}
        
        {% if product.metafields.info.title != blank %}
        	
          {% for _title in product.metafields.info.title %}
        	{% assign _idx = forloop.index0 | plus: idx %}
        	<div class="sf-tab-header text-lg cursor-pointer" data-index="{{ _idx }}" {{ block.shopify_attributes }}>
              {{ _title }}
            </div>
          {% endfor %}
        
        {% endif %}
	
        {% comment %}
        {% for block in section.blocks %}
          
          <div class="sf-tab-header text-lg cursor-pointer" data-index="{{ _idx }}" {{ block.shopify_attributes }}>
            {{ block.settings.header }}
          </div>
        {% endfor %}
        {% endcomment %}
        
      </div>
      <div class="md:py-10 hide--mobile">
        
        {% assign idx = 0 %}
        {% comment %}
        {% if product.description != blank %}
          <div class="sf__accordion-item sf-tab-content md:opacity-0 open">
            <div class="sf__accordion-content">
              <div class="pb-8">
                {{ product.description }}
              </div>
            </div>
          </div>
          {% assign idx = 1 %}
        {% endif %}
        {% endcomment %}
        
        {% for _content in product.metafields.info.content %}
          {% assign _idx = forloop.index0 | plus: idx %}
          <div class="sf__accordion-item sf-tab-content md:opacity-0{% if _idx == 0 and section.settings.default_open %} open{% endif %}" data-block-type={{ block.type }}{% if _idx == 0 and section.settings.default_open == false %} style="--content-max-height:0px;"{% endif %}>
            <div class="sf__accordion-content">
              <div class="pb-8 {% if block.type != 'reviews' %}prose{% endif %}">
                {{ _content }}
              </div>
            </div>
          </div>
        {% endfor %}
        
        {% comment %}
          {% for block in section.blocks %}
            <div class="sf__accordion-item sf-tab-content md:opacity-0{% if forloop.first and section.settings.default_open %} open{% endif %}" data-block-type={{ block.type }}{% if forloop.first == false and section.settings.default_open == false %} style="--content-max-height:0px;"{% endif %}>
              <div class="sf__accordion-button pb-3 pr-4">{{ block.settings.header }}</div>
              <div class="sf__accordion-content">
                <div class="pb-8 {% if block.type != 'reviews' %}prose{% endif %}">
                  {% case block.type %}
                    {% when 'description' %}
                      {{ product.description }}
                    {% when 'reviews' %}
                      <div class="{{ block.settings.container | default: 'container' }}">
                        {% render 'product-reviews-app__snippet', custom_liquid: block.settings.custom_liquid %}
                      </div>
                    {% when 'tab' %}
                      {{ block.settings.content }}
                      {{ block.settings.content_page.content }}
                    {% when 'liquid' %}
                      {{ block.settings.custom_liquid }}
                    {% else %}
                  {% endcase %}
                </div>
              </div>
            </div>
          {% endfor %}
       	{% endcomment %}
      </div>
    </div>
  </div>

</section>
<script>
  window.themeScriptURLs.tabs.required = true
</script>
{% schema %}
    {
        "name": "Product tabs",
        "settings": [
            {
              "type": "select",
              "id": "container",
              "label": "Container type",
              "default": "container",
              "options": [
                  {
                      "value": "container",
                      "label": "Fixed width"
                  },
                  {
                      "value": "container-fluid",
                      "label": "Stretched width"
                  },
                  {
                      "value": "container-narrow",
                      "label": "Narrow width"
                  }
              ]
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background color"
            },
            {
              "type": "checkbox",
              "id": "default_open",
              "label": "Default open first tab on mobile",
              "default": true
            }
        ],
        "max_blocks": 6,
        "blocks": [
            {
                "type": "description",
                "name": "Product description",
                "limit": 1,
                "settings": [
                    {
                        "type": "paragraph",
                        "content": "This tab will show the product's description"
                    },
                    {
                        "type": "text",
                        "id": "header",
                        "label": "Tab header",
                        "default": "Product description"
                    }
                ]
            },
            {
                "type": "reviews",
                "name": "Product reviews",
                "limit": 1,
                "settings": [
                    {
                      "type": "header",
                      "content": "Requirements",
                      "info": "This section requires a product reviews app to work. Such as Shopify product reviews, Growave, Judge.me, Loox"
                    },
                    {
                        "type": "text",
                        "id": "header",
                        "label": "Tab header",
                        "default": "Product reviews"
                    },
                    {
                      "type": "select",
                      "id": "container",
                      "label": "Container type",
                      "default": "container",
                      "options": [
                        {
                          "value": "container",
                          "label": "Fixed width"
                        },
                        {
                          "value": "container-fluid",
                          "label": "Stretched width"
                        },
                        {
                          "value": "container-narrow",
                          "label": "Narrow width"
                        }
                      ]
                    },
                    {
                      "type": "header",
                      "content": "Other review app"
                    },
                    {
                      "type": "liquid",
                      "id": "custom_liquid",
                      "label": "Custom liquid",
                      "info": "Paste the liquid code of the app review here"
                    }
                ]
            },
            {
                "type": "tab",
                "name": "Custom content",
                "settings": [
                    {
                        "type": "text",
                        "id": "header",
                        "label": "Tab heading",
                        "default": "Shipping & Return",
                        "placeholder": "Shipping & Return"
                    },
                    {
                        "type": "richtext",
                        "id": "content",
                        "label": "Tab content",
                        "default": "<p>Shipping cost is based on weight. Just add products to your cart and use the Shipping Calculator to see the shipping price.</p><p>We want you to be 100% satisfied with your purchase. Items can be returned or exchanged within 30 days of delivery.</p>"
                    },
                    {
                        "type": "page",
                        "id": "content_page",
                        "label": "Tab content from page"
                    }
                ]
            },
            {
                "type": "liquid",
                "name": "Custom liquid",
                "settings": [
                    {
                        "type": "text",
                        "id": "header",
                        "label": "Tab heading",
                        "default": "Tab heading"
                    },
                    {
                      "type": "liquid",
                      "id": "custom_liquid",
                      "label": "Custom liquid"
                    }
                ]
            }
        ]
    }
{% endschema %}
