body.template-blog .blog-grid {
  padding-bottom: 45px;
}

body.template-blog .blog-grid .blog-header  {
  background: #f9f9f9;
  display: flex;
  align-items: center;
  height: 60px;
  margin-top: 45px;
  margin-bottom: 45px;
}

body.template-blog .blog-grid .blog-header-item {
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 749px) {
  body.template-blog .blog-grid .blog-header {
    margin-left: -15px;
    margin-right: -15px;
  }
  body.template-blog .blog-grid .blog-header-item {
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

body.template-blog .blog-grid .blog-header-item.h3 {
  /* color: #000; */
  font-family: var(--font-stack-body);
  font-weight: normal;
  text-decoration: underline;
  text-underline-position: under;
}

body.template-blog .blog-grid .blog-content-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 749px) {
  body.template-blog .blog-grid .blog-content-wrapper > div {
    margin-left: -7px;
    margin-right: -7px;
  }
}

body.template-blog .blog-grid .blog-content-wrapper > div .sf__blog-card {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 749px) {
  body.template-blog .blog-grid .blog-content-wrapper > div .sf__blog-card {
    width: 50%;
    padding-left: 7px;
    padding-right: 7px;
  }
}

.exceeding_icon {
    margin-bottom: 20px;
}
.exceeding_icon li {
	display:inline-block;height: 100px;
    width: 100px;margin-right:10px;
}
.exceeding_icon li img {
    object-fit: cover;
}
.logo_footer {
    margin: 0px auto 20px;
}
.template-search main#MainContent {
    margin-bottom: 60px;
}
.about_blocks_row {
    display: flex;gap: 40px;
}
.about_blocks_coll {
    width: 50%;
}
.about_blocks_coll h4 {
    font-size: 2rem;margin-bottom:20px;
}
.about_blocks_coll p {
}
@media screen and (max-width: 767px) {
  .about_blocks_row {flex-wrap:wrap;}
  .about_blocks_coll {width: 100%;}
  .about_blocks_coll h4 {font-size: 1.5rem;margin-bottom: 12px;}
}

.collection-card__info p.mt-4.text-base.not-change.text-color-subtext {
    display: none;
}
@media only screen and (min-width:768px)
{
   .collection-card--inside .collection-card__info
  {
  padding-bottom:0px;
  padding-top:0.45rem!important;
  } 
  .collection-card--hover-scaling-up.collection-card--inside .collection-card__image .sf-image img {
    backface-visibility: hidden;
    transform: scale(1.13) translateZ(0);
    max-width: 130px;
    max-height: 145px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}
.collection-card__image .sf-image
{
 background:#fff;
}
  .collection-card--inside .collection-card__info.text-left .btn
  {
   right:1rem!important;
  }
}

.cst-icons .sf-image {
    background: #f5f5f5;
}
.cst-icons .collection-card {
    background: #f5f5f5;
}
.cst-icons .collection-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.cst-icons .collection-card--hover-scaling-up:hover.collection-card--inside {
    transform: scale(1) translateZ(0);
}
.cst-icons .collection-card--hover-scaling-up:hover.collection-card--inside img {
    transform: unset !important;
}
.cst-icons .collection-card--hover-scaling-up:hover .collection-card__image.collection-card__image-rounded{
	transform: unset
}
.footer_96af740d-9393-48c5-afaa-42a6cd8b9c45 {
    border-right: 0px;
}



@media screen and (max-width: 768px){
  .cst-icons .collection-card__info{
  	justify-content: center
  }
  .cst-icons .collection-card--inside img {
    padding: 30px;
  }
}
/* 11/16/2021 */
.four-logos-inner {
    display: flex;
}
.logo_inner {
    margin-right: 20px;
}


@media (max-width: 749px) {
  .hide--mobile {
  	display: none !important;
  }
}

@media (min-width: 750px) {
  .hide--desktop {
    display: none !important;
  }
}


.sf__footer-bottom-inner.hide--mobile {
  justify-content: center;
}

.sf__footer-bottom-inner.hide--mobile .fb_text {
  font-size: 14px;
  text-align: center;
}

.sf-footer__block.sf__footer-block-social {
  position: relative;
}

.sf-footer__block.sf__footer-block-social .copyright-text {
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  position: absolute;
}

.sf-footer__block.sf__footer-block-social .payment-icons {
  justify-content: center;
  margin-top: 30px;
}

.sf-footer__block.sf__footer-block-social .payment-icons ul {
  flex-wrap: wrap;
}

.sf-footer__block.sf__footer-block-social .payment-icons ul li {
  margin-bottom: 10px;
}

@media (max-width: 749px) {
  .sf__footer-bottom .payment-icons ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sf__footer-bottom .payment-icons ul li {
    margin-bottom: 10px;
  }
}

.sf-footer__block.sf__footer-block-social .social-media-links {
  justify-content: center;
  margin-left: 0px;
  padding-left: 0px;
}

.sf-footer__block.sf__footer-block-social .social-media-links a {
  margin-right: 10px;
  margin-left: 10px;
}

.sf-footer__block.sf__footer-block-social .social-media-links svg {
  width: 20px;
  height: auto;
  max-height: 22px;
}

@media (max-width: 749px) {
  footer .logo_footer {
    max-width: 120px !important;
  }
}

.main-product__block.main-product__block-description {
  margin-top: 15px;
}

@media (min-width: 749px) {
  .hide--desktop {
    display: none !important;
  }
}

@media (max-width: 750px) {
  .hide--mobile {
    display: none !important;
  }
  .accordion-wrapper .accordion-item .accordion-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .accordion-wrapper .accordion-item .accordion-title svg {
    display: block;
    transition: all .3s;
  }
  
    
  .accordion-wrapper .accordion-item.open .accordion-title svg {
    transform: rotate(90deg);
  }
  

  .accordion-wrapper .accordion-item {
    border-bottom: 1px solid #dedede;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .accordion-wrapper .accordion-item .accordion-content {
    padding-top: 10px;
  }
  .accordion-wrapper .accordion-item .accordion-content h2 strong {
    font-size: 19px;
  }
}


.text-black, .md\:text-black {
  color: #4e4e4e;
}

.sf-menu-submenu__title {
  color: #0000008c;
}

.shopify-section.banner-with-breadcrumb .section_container {
  padding-top: 75px;
  padding-bottom: 75px;
}
.shopify-section.banner-with-breadcrumb ul.breadcrumb {
  display: inline-flex;
  align-items: center;
}

.shopify-section.banner-with-breadcrumb ul.breadcrumb li {
  margin-left: 4px;
  margin-right: 4px;
}

.shopify-section.banner-with-breadcrumb ul.breadcrumb svg {
  fill: #4e4e4e;
  width: 12px;
  height: auto;
}

@media (min-width: 750px) {
  .sf-icon-grid-wrapper {
    max-width: 800px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

body.template-article .sf-breadcrumb {
  margin-top: 30px;
}

@media (min-width: 750px) {
  .hide--desktop {
    display: none !important;
  }
}

@media (max-width: 749px) {
  .hide--mobile {
    display: none !important;    
  }
}

@media (max-width: 749px) {
  .swiper-slide.relative .sf__slide-image {
    position: relative;
  }
  .swiper-slide.relative .sf__slide-image .mob_text {
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .shopify-section.section-image-card .image-card__img {
    position: relative;
  }

  .shopify-section.section-image-card .image-card__img .mob_text {
    font-size: 18px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .sf-menu-wrapper-mobile .sf-sub-links li.list-none > a {
    font-weight: bold;
  }

}

@media (min-width: 750px) {
  body {
    overflow: unset;
  }
  #shopify-section-annoucement {
    position: sticky;
    top: 0px;
    z-index: 11;
  }
  .header__wrapper {
    /* top: 40px !important; */
    /* transform: unset !important; */
    /* position: fixed !important; */
  }
}